$breakpoints: (
        'xs': 0,
        'sm': 361,
        'md': 769,
        'lg': 1367,
        'xl': 1537,
        'xxl': 1921,
);

:export {
  @each $key, $value in $breakpoints {
    breakpoints_#{unquote($key)}: $value;
  }
}


.dark {
  --bg-color: #252222;
  --text-color: #fff;
  --bg-color-rating: #fff
}

.light {
  --bg-color: #ccafaf;
  --text-color: #2c1f1f;
  --bg-color-rating: #2a2727
}
